					
				<div class="span7 clearfix">
					<div class="owner">
						<img src="http://graph.facebook.com/<%=fbID%>/picture?width=30&height=30" />
					</div>
					
					<div class="info">
						<h3 class="row-fluid"><%=name%></h3>
					
						<ul class="features row-fluid">
							<% _.each(features, function(feature){ %>
								<li>
									
									<img src="<%=feature.image%>" />
									<span><%=feature.amount%></span>
								</li>
							<% }); %>
							

						</ul>
					</div>
				</div>


				<div class="span5">
					<ol class="players">
						
					


						<% _.each(data, function(gameData){ %>
							<li>
								
								<img src="http://graph.facebook.com/<%=gameData.fbID%>/picture?width=35&height=35" />
								<span><%=gameData.height%>m</span>
							</li>
						<% }); %>
							
						 
						
						
					</ol>
				</div>

					
					
				
