/* 
	SH MEDIA SASS Stylesheet
	author : Patrick Wolleb patrick.wolleb@shmedia.co.uk
*/
@import "reset";
@import "a";
@import "grid";
@import "container";
@import "form";
@import "button";
@import "table";
@import "nav";
@import "navbar";



$yellow : #E2B227;
$green : #00aa00;



html, body { 
  height: 100%;
}

body {
  margin: 0;
  font-family: "Wendy One", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  color: #333333;
  background-color: #ffffff;
}

.navbar .brand {
  font-size: 3.8em;
}

h1, h2, h3 {
	margin: 1em 0;
  	font-family: inherit;
  	font-weight: bold;
  	color: #333;
  	text-rendering: optimizelegibility;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 4.3em;
  margin: .5em 0;
}

h3 {
	font-size: 3.2em;
 
}

p {
	font-size: 1.4em;
}

//*  LAYOUT */



.container-fluid {
  position: relative;
  z-index: 1;
  padding-left: 40px;
  padding-right: 40px;
}

.span7 {
  border-right: 1px solid #eee;
}
.span5 {

}

header {
  position: fixed;
  min-width: 100%;
  z-index: 2;
}

footer {
  position :fixed;
  width: 100%;
  min-width: 100%;
  bottom: 0px;
  z-index: 3;
}

canvas {
  position: relative;
  overflow-y: scroll;
}


.nav {
  font-size: 3em;
}

#me {
  margin-top:13px;
  float: right;
  font-size: 3em;
  color: $yellow;
}

#game #features {
  position: fixed;
  width: 100px;
  bottom: 0px;
}

#game #features .btn {
     width: 80px; 
  height: 90px;
  text-align: left;
}

#lobby {
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
}

.navbar-bottom {
  height: 10px;
}

#lobby ol li {
  float: left;
}

#lobby ul li {
 
}

.game-list {
  padding: 5px 0px;
}

.game-list h3 {
    margin:  0px;
  margin-left: 20px;
  position:relative;
  text-align: center;
  padding-top:12px;
  padding-left:13px;
}

.game-list-item.btn {
  height: 50px;
  padding: 0px;
}

#create .btn-group {
  margin-bottom: 25px;
}

#total {
  color: $yellow;
  font-size: 6em;
  float: right;
}


.feature-list-item {

  margin: 10px;
  float: left;
}

.game-feature {
  
}

.feature-list-item label { 
  position:relative;
  width: 80px; 
  height: 90px;
  text-align: left;
}

.feature-list-item label span.type {
  position:absolute;
  top: 80px;
  font-size: 1.3em;
}

.feature-list-item label span.price {
  position:absolute;
  top:10px;
  left: 10px;
  font-size: 1.4em;
  color: $yellow;
}

.feature-list-item label span.factor {
  position:absolute;
  top:70px;
  right: 10px;
  text-align: right;
  width: 100%;
  font-size: 2em;
  color: $green;
}

.feature-list-item label img {
  position: absolute;
  width: 60px;
  height: 60px;
  top:23px;
  left: 20px;
}

.feature-list-item input[type="checkbox"]:disabled + label span:last-child {
  // background: rgba(0,0,0,0.7);
 
}

.feature-list-item input[type="checkbox"] {
  display: none;
}

.feature-list-item span:last-child {
   background: none;
    position: absolute;
  left: 0px;
  right: 0px;
  width: 106px;
  height: 100px;
  z-index: 10;
}

.btn.active { 
  background: #333;
}




